* {
  padding: 0;
  margin: 0; }

::-webkit-scrollbar {
  width: 5px; }

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2); }

::-webkit-scrollbar-thumb {
  background: #c00; }

@font-face {
  font-family: 'iconfont';
  src: url("../icon/iconfont.eot");
  src: url("../icon/iconfont.eot?#iefix") format("embedded-opentype"), url("../icon/iconfont.woff") format("woff"), url("../icon/iconfont.ttf") format("truetype"), url("../icon/iconfont.svg#iconfont") format("svg"); }
.iconfont {
  font-family: "iconfont" !important;
  font-size: 24px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

body {
  font-family: "Source Code Pro", sans-serif;
  background: url("../img/bg.jpg");
  background-size: cover; }

body .layer-skin .layui-layer-title {
  background: #c00;
  color: #fff;
  border: none; }

.layui-layer-btn .layui-layer-btn0 {
  border: 0; }

body .layer-skin .layui-layer-btn {
  border-top: 1px solid #c00; }

body .layer-skin .layui-layer-btn a {
  background: #c00; }

body .layer-skin .layui-layer-btn .layui-layer-btn1 {
  background: #f0f0f0; }

.player {
  width: 1000px;
  height: 600px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
  margin: 25px auto 0 auto; }

.controller .logo {
  float: left;
  width: 100px;
  text-align: center;
  color: #fff;
  font-size: 18px; }
.controller .controlPanel {
  height: 50px;
  line-height: 50px;
  background: rgba(0, 0, 0, 0.9); }
.controller .progress {
  width: 100%;
  height: 5px;
  bottom: 0;
  cursor: pointer;
  background: rgba(54, 79, 99, 0.6); }
  .controller .progress .pro-inner {
    width: 100%;
    height: 100%;
    background: #c00; }

.controlPanel .control {
  float: left;
  width: 155px;
  height: 50px;
  text-align: center;
  color: #fff; }
  .controlPanel .control .btn {
    margin: 5px 7px;
    float: left;
    cursor: pointer;
    height: 40px;
    line-height: 40px; }
.controlPanel .control > .btn:hover {
  color: #c00; }
.controlPanel .lrc {
  float: left;
  width: 350px;
  height: 50px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }
.controlPanel .search {
  float: left;
  height: 50px;
  width: 225px;
  color: #fff; }
  .controlPanel .search input {
    background: none;
    border-radius: 20px;
    margin: 12px 5px 0 0;
    height: 25px;
    border: 1px solid #fff;
    display: inline-block;
    color: #fff;
    outline: none;
    float: left;
    text-indent: 1em; }
  .controlPanel .search .searchBtn {
    cursor: pointer;
    font-size: 20px; }
.controlPanel .time {
  width: 110px;
  float: left;
  text-align: center;
  color: #fff;
  font-size: 12px;
  height: 50px; }
.controlPanel .listSwitch {
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  float: left; }

.content {
  height: 545px;
  overflow: hidden;
  position: relative;
  background: rgba(255, 255, 255, 0.3); }

.playlist {
  width: 250px;
  position: absolute;
  right: 0;
  top: 0;
  height: 545px;
  border-left: 1px solid #ccc;
  background: rgba(255, 255, 255, 0.2);
  list-style: none;
  line-height: 20px;
  overflow: auto;
  transition: all .5s; }
  .playlist li {
    position: relative;
    border-radius: 2px;
    background: white;
    box-shadow: 0 0 1px #333;
    height: 40px;
    padding: 4px 8px;
    margin: 4px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; }
    .playlist li:hover > .close {
      display: inline; }
  .playlist .list-singer {
    font-size: 12px;
    color: rgba(0, 0, 0, 0.72); }
  .playlist .list-song {
    font-size: 12px;
    cursor: pointer; }
    .playlist .list-song:hover {
      text-decoration: underline; }
  .playlist .close {
    position: absolute;
    font-size: 14px;
    width: 20px;
    display: none;
    height: 20px;
    cursor: pointer;
    text-align: center;
    top: 0;
    right: 0; }
  .playlist .playing {
    border-left: 5px solid #c00; }

.searchResult {
  list-style: none;
  margin-right: 252px;
  overflow: auto;
  height: 525px;
  background: rgba(255, 255, 255, 0.2);
  padding: 10px;
  transition: all .5s; }
  .searchResult li {
    position: relative;
    width: 140px;
    height: 170px;
    float: left;
    margin: 10px 18px;
    background: #fff;
    box-shadow: 0 0 8px #333;
    transition: all .3s; }
    .searchResult li:hover {
      transform: scale(1.1); }
      .searchResult li:hover > .opt {
        opacity: 1; }
  .searchResult .opt {
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 120px;
    color: rgba(255, 255, 255, 0.9);
    background: rgba(0, 0, 0, 0.3);
    transition: .3s; }
    .searchResult .opt div {
      font-size: 43px;
      text-align: center;
      margin-top: 35px;
      cursor: pointer; }
    .searchResult .opt :last-child {
      top: -30px;
      font-size: 20px;
      right: 2px;
      position: absolute; }
  .searchResult img {
    width: 140px;
    height: 120px;
    display: block;
    margin: 0 auto; }
  .searchResult .search_song {
    font-size: 12px;
    padding: 2px 4px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; }
  .searchResult .search_singer {
    font-size: 12px;
    padding: 6px 4px;
    color: #333;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; }
    .searchResult .search_singer:hover {
      text-decoration: underline; }
